<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<input type="checkbox"><% @task.completed %> </input>

<%= button_to "delete", @task, :method => "delete" %>


<p><%= link_to 'Back to List', tasks_path %></p>
